@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


body {
    background-color: papayawhip;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: row;
}


.image-container {
    position: relative;
    display: inline-block;
    box-shadow: 0 0 15px 5px rgba(255, 182, 193, 0.8);
}


.image-container img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}


.image-container::before, .image-container::after {
    content: '★';
    position: absolute;
    font-size: 50px;
    color: gold;
    animation: sparkle 2s infinite;
}


.image-container::before {
    top: 10px;
    left: 10px;
    animation-delay: 0s;
}


.image-container::after {
    bottom: 10px;
    right: 10px;
    animation-delay: 1s;
}


@keyframes sparkle {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}


@keyframes glowingBackground {
    0% {
        background-image: linear-gradient(to right, #000000, #555555);
    }
    50% {
        background-image: linear-gradient(to right, deeppink, black);
    }
    100% {
        background-image: linear-gradient(to right, #000000, #555555);
    }
}


.logo-container {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}


.logo-container img {
    width: 100%;
    max-width: 400px;
}


body {
    *background: url('static/images/design-create.png') no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right, black, deeppink);
}


main {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 90px;
    align-items: flex-end;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 10.0);
}


.welcome h1 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: left;
    margin-top: -50px;
    color: deeppink;
    font-family: "Gill Sans Ultra Bold", 'Arial', sans-serif;
}


.intro-text {
    font-size: 1.2em;
    color: deeppink;
    font-weight: bold;
    text-align: right;
    font-family: "Gill Sans Ultra Bold", 'Arial', sans-serif;
}


.header {
    position: absolute;
    bottom: 50px;
    right: 50px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: deeppink;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    animation: glowingBackground 2s infinite alternate;
}


.header button:hover {
    background-color: #0056b3;
}


.footer {
    text-align: left;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    color: white;
    position: fixed;
    width: 21%;
    bottom: 0;
    font-weight: bold;
}






