<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&amp;display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/wallet.css">
    <title>Wallet</title>
</head>
<body>

<main>
<div class="container">
    <div class="wallet-section">
    <form class="mx-auto w-25 bg-blur rounded"
          th:method="POST"
          th:action="@{/wallets}"
          th:object="${wallet}"
    >

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Wallet</span></h1>
                <hr class="hr-3 w-25 bg-white"/>
            </div>
            <div>
                <p><strong>User:&nbsp;</strong> <span th:text="${wallet.owner.firstName}"></span></p>
                <p><strong>Balance:&nbsp; </strong> <span th:text="${wallet.getBalance()}"></span></p>
                <p><strong>Currency:&nbsp;</strong> <span th:text="${wallet.currency}"></span></p>
                <p><strong>Created date:&nbsp;</strong>
                    <span th:text="${#temporals.format(wallet.createdOn, 'dd-MM-YYYY HH:mm')}"></span></p>

            </div>
        </div>
    </form>

    <form th:action="@{/wallets/deposit}" th:method="POST">
        <div class="text-center mb-3">
            <h3 class="underline-title">Select Amount</h3>
        </div>
        <button type="submit" name="amount" value="50" class="not-accept-button">Add 50 BGN</button>
        <button type="submit" name="amount" value="100" class="not-accept-button">Add 100 BGN</button>
        <button type="submit" name="amount" value="150" class="not-accept-button">Add 150 BGN</button>
        <button type="submit" name="amount" value="200" class="not-accept-button">Add 200 BGN</button>
    </form>

    </div>
    <div class="history-section">
        <h3 class="underline-title">Transaction History</h3>
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Transaction Type</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction : ${transactions}">
                <td th:text="${#temporals.format(transaction.transactionDate, 'dd-MM-yyyy HH:mm')}">Date</td>
                <td th:text="${transaction.amount + ' BGN'}">Amount</td>
                <td th:text="${transaction.transactionType}">Transaction Type</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
    <form th:action="@{/wallets/transactions/clear}" method="POST" class="clear-history-form">
        <button type="submit" class="clear-button">Clear History</button>
    </form>
</main>
<div class="footer"><p3>© 2025 Nails Art. All rights reserved.</p3></div>
</body>
</html>
